*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

p {
    margin: 0.5em 0 0 0;
    padding: 0;
}

body > header {
    padding: 1em;
    clear: both;
    text-align: center;
    background: lightcoral;
}

body > header > p {
    margin: 0;
    font-size: x-large;
    font-family: "Century Schoolbook";
}

body > section {
    margin: 0.5em 20%;
    padding: 1em;
    overflow: hidden;
}

body > footer {
    padding: 0.5em;
    clear: both;
    font-size: 0.8em;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: lightblue;
}

body > footer > p {
    margin: 0;
    font-weight: bold;
}

.main_content {
    padding: 1em;
    clear: both;
    text-align: center;
    background: bisque;
}

.pre_main {
     clear: both;
     text-align: center;
     background: coral;
     font-family: "Century Schoolbook";
     font-size: xx-large;
 }

.pre_main > p {
    margin: 0;
}

.book-summary {
    margin: 0.5em 0;
    padding: 0.5em 0;
    clear: both;
}

.book-summary > img {
    float: left;
    padding-right: 1em;
}
.book_details_pic > img{
    height: 280px;
    width: 190px;
    float: left;
    padding-right: 1em;
}
.add_comment{
    padding: 1em;
    clear: both;
    background: darkseagreen;
}

.user_review{
    margin-top: 3em;
    text-align: left;
}

#write_comment{
    font-weight: bold;
    padding-bottom: 1em;
}

#pre_main_lower{
    font-size: medium;
}